/* Tum Bosluklar Sifirlaniyor */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header Alani Baslangici */
header .logo-and-menus {
  width: 1440px;
  height: 80px;
  background-color: #FFC9BA;
}

header .logo-and-menus .menus img {
  padding-right: 32px;
}

header .fabrx-logo {
  width: 92px;
  height: 32px;
  float: left;
  margin-top: 24px;
  margin-left: 165px;
}

header .logo-and-menus .menus {
  padding-top: 24px;
  padding-left: 1115px;
}
/* Header Alani Sonu */

/* Hero Alani Baslangici */
.section-hero {
  background-color: #FFC9BA;
  width: 1440px;
  height: 592px;
  padding-left: 165px;
}

.section-hero .write-and-redirect {
  padding-top: 80px;
  float: left;
}

.section-hero .write-and-redirect .write h1 {
  width: 373px;
  height: 180px;
  font-size: 40px;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: -0.4px;
  margin-bottom: 16px;
}

.section-hero .write-and-redirect .write p {
  padding-top: 10px;
  width: 373px;
  height: 56px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 28px;
}

.section-hero .write-and-redirect .redirect {
  color: inherit;
  padding-top: 40px;
}

.section-hero .write-and-redirect .redirect a {
  color: inherit;
  font-family: Montserrat;
  text-decoration: none;
}

.section-hero .write-and-redirect .redirect img {
  padding-left: 5px;
}

.section-hero img {
  padding-left: 24px;
  padding-top: 110px;
}
/* Hero Alani Sonu */


.presentation-and-logos {
  width: 1440px;
  height: 191px;
}

/* Marka Logolarinin Baslangici */
.presentation-and-logos p {
  padding-top: 56px;
  padding-left: 165px;
  font-size: 14px;
  font-family: Open Sans;
  line-height: 24px;
  font-weight: 400;
  color: #807E7E;
}

.presentation-and-logos .logos {
  padding-left: 165px;
}

.presentation-and-logos .logos img {
  padding-right: 94px;
}
/* Marka Logolarinin Sonu */

/* Lamba ve Koltuk Alani Baslangici */
.sofa-and-lamb {
  width: 1440px;
  height: 878px;
  padding-left: 165px;
}

.sofa-and-lamb .seat {
  float: left;
}

.sofa-and-lamb .seat h1 {
  padding-left: 40px;
  font-family: Montserrat;
  font-size: 20px;
  line-height: 30px;
}

.sofa-and-lamb .lamb h1 {
  padding-left: 40px;
  font-family: Montserrat;
  font-size: 20px;
  line-height: 30px;
}
/* Lamba ve Koltuk Alani Sonu */

/* Koltuklar ve Lamba Alani Baslangici */
.seats-and-lamb {
  padding-left: 165px;
}

.seats-and-lamb .general-title {
  width: 1110;
  height: 47px;
}

.seats-and-lamb .general-title h1 {
  font-size: 20px;
  font-family: Montserrat;
}

.products {
  display: flex;
  justify-content: center;
}

.seats-and-lamb .products img {
  padding-right: 80px;
}

.seats-and-lamb .products .seat-yellow .product-name {
  font-size: 12px;
  line-height: 21px;
  font-family: Open Sans;
}

.seats-and-lamb .products .seat-yellow .product-model {
  font-size: 16px;
  line-height: 28px;
  font-family: Open Sans;
}

.seats-and-lamb .products .seat-yellow .product-price {
  font-size: 16px;
  line-height: 28px;
  font-family: Open Sans;
  font-weight: 600;
}

.seats-and-lamb .products .lamb-white .product-name {
  font-size: 12px;
  line-height: 21px;
  font-family: Open Sans;
}

.seats-and-lamb .products .lamb-white .product-model {
  font-size: 16px;
  line-height: 28px;
  font-family: Open Sans;
}

.seats-and-lamb .products .lamb-white .product-price {
  font-size: 16px;
  line-height: 28px;
  font-family: Open Sans;
  font-weight: 600;
}

.seats-and-lamb .products .seat-orange .product-name {
  font-size: 12px;
  line-height: 21px;
  font-family: Open Sans;
}

.seats-and-lamb .products .seat-orange .product-model {
  font-size: 16px;
  line-height: 28px;
  font-family: Open Sans;
}

.seats-and-lamb .products .seat-orange .product-price {
  font-size: 16px;
  line-height: 28px;
  font-family: Open Sans;
  font-weight: 600;
}
/* Koltuklar ve Lamba Alani Sonu */

/* Tekli Koltuk Alani Baslangici */
.single-sofa {
  width: 1440px;
  height: 592px;
  padding-left: 165px;
}

.single-sofa .write-and-redirect {
  padding-top: 80px;
  float: left;
}

.single-sofa .write-and-redirect .write h1 {
  width: 373px;
  height: 180px;
  font-size: 40px;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: -0.4px;
  margin-bottom: 16px;
}

.single-sofa .write-and-redirect .write p {
  padding-top: 10px;
  width: 373px;
  height: 56px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 28px;
}

.single-sofa .write-and-redirect .redirect {
  color: inherit;
  padding-top: 40px;
}

.single-sofa .write-and-redirect .redirect a {
  color: inherit;
  font-family: Montserrat;
  text-decoration: none;
}

.single-sofa .write-and-redirect .redirect img {
  padding-left: 5px;
}

.single-sofa img {
  padding-left: 24px;
  padding-top: 110px;
}
/* Tekli Koltuk Alani Sonu */

/* Chairs and Flowers Alani Baslangici */
.chairs-and-flowers {
  width: 1110px;
  height: 917px;
  margin-left: 165px;
  border: 1px solid black;
}

.chairs-and-flowers .general-title {
  padding-bottom: 41px;
}

.chairs-and-flowers .general-title h1 {
  font-size: 20px;
  font-family: Montserrat;
}

.chairs-and-flowers .products {
  display: block;
}

.chairs-and-flowers .products .group-1 {
  display: flex;
  margin-bottom: 435px;
}

.chairs-and-flowers .products .group-2 {
  display: flex;
}

.chairs-and-flowers .products .chairs-and-flowers-alignment{
  display: flex;
  position: relative;
  padding-right: 24px;
}

.chairs-and-flowers .products .chairs-and-flowers-alignment .chair-white {
  padding-right: 24px;
  margin-right: 505px;
}

.chairs-and-flowers .products .chairs-and-flowers-alignment .flowers {
  padding-right: 24px;
  margin-right: 410px;
}

.chairs-and-flowers .chairs-and-flowers-alignment .chair-white h1 {
  font-family: Montserrat;
  font-size: 20px;
  line-height: 30px;
  width: 151px;
  height: 60px;
  padding-left: 24px;
  position: absolute;
  z-index: 1;
  padding-top: 266px;
}

.chairs-and-flowers .products .chairs-and-flowers-alignment .chair-white img {
  position: absolute;
  padding-right: 24px;
  padding-bottom: 24px;
}

.chairs-and-flowers .chairs-and-flowers-alignment .flowers h1 {
  font-family: Montserrat;
  font-size: 20px;
  line-height: 30px;
  width: 151px;
  height: 60px;
  padding-left: 24px;
  position: absolute;
  z-index: 1;
  padding-top: 266px;
}

.chairs-and-flowers .products .chairs-and-flowers-alignment .flowers img {
  position: absolute;
  padding-right: 24px;
  padding-bottom: 24px;
}
/* Chairs and Flowers Alani Baslangici */

/* Koltuklar Kitaplik ve Sandalye Alani Baslangici */
.seats-bookself-chair {
  padding-left: 165px;
}

.seats-bookself-chair .general-title {
  width: 1110px;
  height: 47px;
  display: flex;
  justify-content: space-between;
}

.seats-bookself-chair .general-title h1 {
  font-family: Montserrat;
  font-size: 20px;
  line-height: 30px;
}

.seats-bookself-chair .general-title p {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 24px;
}

.seats-bookself-chair .product-photos {
  display: flex;
  flex-direction: row;
}

.seats-bookself-chair .product-photos img {
  border-radius: 6px;
  padding-right: 24px;
}

.seats-bookself-chair .product-photos p {
  font-family: Open Sans;
  font-size: 12px;
  line-height: 21px;
  color: #807E7E;
}

.seats-bookself-chair .product-photos h1 {
  font-family: Open Sans;
  font-size: 16px;
  line-height: 28px;
}
/* Koltuklar Kitaplik ve Sandalye Alani Sonu */

/* Footer Alani Baslangici */
.links {
  padding-left: 165px;
  padding-top: 72px;
}

.links .parts {
  display: flex;
  justify-content: flex-start;
}

.links .parts .logo-and-write {
  padding-right: 118px;
}

.links .parts .logo-and-write img{
  padding-bottom: 24px;
}

.links .parts .logo-and-write p {
  width: 496px;
  height: 72px;
  font-family: Open Sans;
  font-size: 14px;
  line-height: 24px;
}

.links .parts .links-group {
  width: 150px;
  height: 152px;
  padding-right: 24px;
}

.links .parts .links-group h3{
  font-family: Open Sans;
  font-size: 14px;
  line-height: 24px;
}

.links .parts .links-group p{
  font-family: Open Sans;
  font-size: 14px;
  line-height: 24px;
}
/* Footer Alani Sonu */