* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header .logo-and-menus {
  width: 1440px;
  height: 80px;
  background-color: #FFC9BA;
}

header .logo-and-menus .menus img {
  padding-right: 32px;
}

header .fabrx-logo {
  width: 92px;
  height: 32px;
  float: left;
  margin-top: 24px;
  margin-left: 165px;
}

header .logo-and-menus .menus {
  padding-top: 24px;
  padding-left: 1115px;
}

.section-hero {
  background-color: #FFC9BA;
  width: 1440px;
  height: 592px;
  padding-left: 165px;
}

.section-hero .write-and-redirect {
  padding-top: 80px;
  float: left;
}

.section-hero .write-and-redirect .write h1 {
  width: 373px;
  height: 180px;
  font-size: 40px;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: -0.4px;
  margin-bottom: 16px;
}

.section-hero .write-and-redirect .write p {
  padding-top: 10px;
  width: 373px;
  height: 56px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 28px;
}

.section-hero .write-and-redirect .redirect {
  color: inherit;
  padding-top: 40px;
}

.section-hero .write-and-redirect .redirect a {
  color: inherit;
  font-family: Montserrat;
  text-decoration: none;
}

.section-hero .write-and-redirect .redirect img {
  padding-left: 5px;
}

.section-hero img {
  padding-left: 24px;
  padding-top: 110px;
}

.presentation-and-logos {
  width: 1440px;
  height: 191px;
}

.presentation-and-logos p {
  padding-top: 56px;
  padding-left: 165px;
  font-size: 14px;
  font-family: Open Sans;
  line-height: 24px;
  font-weight: 400;
  color: #807E7E;
}

.presentation-and-logos .logos {
  padding-left: 165px;
}

.presentation-and-logos .logos img {
  padding-right: 94px;
}